
/* CSS Reset */
body{
  box-sizing:border-box  ;
  margin:0;

  background-color: rgb(100, 144, 248);
}

nav{
    position: absolute;
    width: 100%;
    background-color: rgb(252, 252, 252);

    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3vw;
}

nav h1{
    align-self: center;
    font-family: 'Courier New', Courier, monospace;

    font-size: 40px;
}

main{
    background-color: rgb(142, 231, 247);
    position: absolute;
    left:30%;
    top:20%;

    padding: 1vw 3vw;
    width: 40vw;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form{
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: repear(4,1fr);

    gap: 10px;
}

#from_label{
    grid-area: 1/1/2/2;
 

}

.input_box{
    border: rgb(195, 195, 195) 0.2px solid;
    width: 10vw;
    padding: 0.5rem;
    border-radius: 2px;
}

#to_label{
    grid-area: 1/2/2/3;
}

#amount_label{
    grid-row: 1/2;
    grid-column: 3/4;
}

.btn_class{
display: block;
margin-top: 5vh;
position: relative;
margin-left: 50%;
margin-right: 50%;
}
